# Name shown in GitHub Actions
name: Terraform Deployment

# This workflow runs ONLY when manually triggered
on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag to deploy"
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest   # GitHub creates temporary Linux runner

    steps:
       # Checkout repository code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      # Configure AWS credentials (from GitHub Secrets)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1   

      # Terraform Init
      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      # Terraform Plan
      - name: Terraform Plan
        run: terraform plan -var="image_tag=${{ github.event.inputs.image_tag }}"
        working-directory: ./terraform

      # Terraform Apply
      - name: Terraform Apply
        run: terraform apply -auto-approve -var="image_tag=${{ github.event.inputs.image_tag }}"
        working-directory: ./terraform

